#topo{
    background-color: rgb(109, 172, 177);
}
#promocao{
    background-color: rgb(88, 116, 209);
}
#celulares{
    background-color: rgb(155, 68, 68);
}
.destaque{
    background-color: rgb(80, 136, 80);
}